# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/

# Virtual env
.venv/
venv/
env/

# Django
*.log
db.sqlite3
dev.sqlite3
staticfiles/
media/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# MinIO data
minio-data/

# Celery
celerybeat-schedule
celerybeat.pid

# Coverage
htmlcov/
.coverage
.coverage.*

# Archives
*.zip
*.tar.gz
